<%= form_for(@address_link) do |f| %>
  <% if @address_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_link.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @address_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Address type' %><br>
    <%= f.collection_select(:address_type_id, current_user.address_types.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :'House number' %><br>
    <%= f.collection_select(:house_number_id, current_user.house_numbers.all, :id, :house_number) %>
  </div>

  <br>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
