<p id="notice"><%= notice %></p>

<h1>Address links</h1>

<table>
  <thead>
    <tr>
      <th>Address type</th>
      <th>House number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @address_links.each do |address_link| %>
        <tr>
          <td><%= if address_link.address_type_id then address_link.address_type.name end %></td>
          <td><%= if address_link.house_number_id then address_link.house_number.house_number end %></td>
          <td><%= link_to 'Show', address_link %></td>
          <td><%= link_to 'Edit', edit_address_link_path(address_link) %></td>
          <td><%= link_to 'Destroy', address_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<br>
    
<%= link_to 'New address link', new_address_link_path %>