<p id="notice"><%= notice %></p>

<p>
  <strong>Address type:</strong>
  <%= if @address_link.address_type_id then @address_link.address_type.name end %>
</p>

<p>
  <strong>House number:</strong>
  <%= if @address_link.house_number_id then @address_link.house_number.house_number end %>
</p>

<%= link_to 'Edit', edit_address_link_path(@address_link) %> |
<br>
<br>
<%= link_to 'Back', address_links_path %>