<%= form_for(@house_number) do |f| %>
  <% if @house_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house_number.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @house_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-4 col-md-3">
      <%= f.label :'House number' %>
      <%= f.text_field :house_number %>
    </span>
    <span class="col-sm-3 col-md-3">
      <%= f.label :'City' %>
      <%= f.collection_select(:city_id, current_user.cities.all, :id, :name) %>
    </span>
    <span class="col-sm-3 col-md-3">
    <%= f.label :'Street' %>
    <%= f.collection_select(:street_id, current_user.streets.all, :id, :name, :include_blank => true) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>