<h1>Editation of house number</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New city', new_city_path %>
<br>
<br>
<%= link_to 'New street', new_street_path %>
<br>
<br>
<%= link_to 'Show', @house_number %>
<br>
<br>
<%= link_to 'Back', house_numbers_path %>