<p id="notice"><%= notice %></p>

<p>
  <strong>House number:</strong>
  <%= @house_number.house_number %>
</p>

<p>
  <strong>City:</strong>
  <%= if @house_number.city_id then @house_number.city.name end %>
</p>

<p>
  <strong>Street:</strong>
  <%= if @house_number.street_id then @house_number.street.name end %>
</p>

<%= link_to 'Edit', edit_house_number_path(@house_number) %> |
<br>
<br>
<%= link_to 'Back', house_numbers_path %>