<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <strong>House number:</strong>
    <%= @house_number.house_number %>
  </span>
  <span class="col-sm-12 col-md-2">
    <strong>City:</strong>
    <%= if @house_number.city_id then @house_number.city.name end %>
  </span>
  <span class="col-sm-12 col-md-2">
    <strong>Street:</strong>
    <%= if @house_number.street_id then @house_number.street.name end %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2 col-md-offset-1">
    <%= button_to 'Edit', edit_house_number_path(@house_number), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', house_numbers_path, method: 'get' %>
  </span>
</div>