<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
    <br>
      <th><%= f.label :'Trade subject: ' %></th>
      <td><%= f.text_field :trade_subject %></td>
      <th><%= f.label :'Identification number: ' %></th>
      <td><%= f.text_field :identification_number %></td>
      <th><%= f.label :'VAT: ' %></th>
      <td><%= f.text_field :vat %></td>  
      <br>
      <br>
      <th><%= f.label :'Street:    ' %></th>
      <td><%= f.text_field :street %></td>
      <th><%= f.label :'House number: ' %></th>
      <td><%= f.text_field :house_number %></td>
      <br>
      <br>
      <th><%= f.label :'City:    ' %></th>
      <td><%= f.text_field :city %></td>
      <th><%= f.label :'City part: ' %></th>
      <td><%= f.text_field :city_part %></td>
      <th><%= f.label :'Postal code: ' %></th>
      <td><%= f.text_field :postal_code %></td>
      <br>
      <br>
      <th><%= f.label :'Country: ' %></th>
      <td><%= f.text_field :country %></td>
      <th><%= f.label :'Province: ' %></th>
      <td><%= f.text_field :province %></td>
      <br>
      <br>
      <th><%= f.label :'Phone: ' %></th>
      <td><%= f.text_field :phone %></td>
      <th><%= f.label :'E-mail: ' %></th>
      <td><%= f.text_field :mail %></td>
      <th><%= f.label :'WWW: ' %></th>
      <td><%= f.text_field :web %></td>
      <br>
      <br>
      <th><%= f.label :'Note: ' %></th>
      <td><%= f.text_field :note %></td>
      <br>
      <br>
      <th><%= f.label :'Bank: ' %></th>
      <td><%= f.text_field :bank %></td>
      <th><%= f.label :'Bank account: ' %></th>
      <td><%= f.text_field :bank_account %></td>
      <th><%= f.label :'IBAN: ' %></th>
      <td><%= f.text_field :iban %></td>
      <th><%= f.label :'SWIFT: ' %></th>
      <td><%= f.text_field :swift %></td>
    <br>
    <br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
