<p id="notice"><%= notice %></p>

<h2>Task types</h2>
<br>
<div class="row">
  <span class="col-sm-9 col-md-4">
    <h4>Task type</h4>
  </span>
</div>

<% @task_types.each do |task_type| %>
  <div class="row">
    <span class="col-sm-9 col-md-4">
      <h5>
        <%= task_type.name %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', task_type, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_task_type_path(task_type), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', task_type, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New task type', new_task_type_path, method: 'get' %>
  </span>
</div>