<%= form_for(@insequence) do |f| %>
  <% if @insequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insequence.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @insequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <span class="col-sm-12 col-md-4 col-md-offset-1">
      <%= f.label :'Incomming invoices sequence' %>
      <%= f.text_field :name %>
    </span>
    <span class="col-sm-12 col-md-4">
      <%= f.label :'Note' %><br>
      <%= f.text_area :note, size: '40x3' %>
    </span>
    <span class="actions">
      <%= f.submit 'Update incomming invoices sequence'%>
    </span>
  </div>
<% end %>