<%= form_for(@city_part) do |f| %>
  <% if @city_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city_part.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @city_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-4 col-md-3">
      <%= f.label :'City part' %>
      <%= f.text_field :name %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Postal code' %>
      <%= f.text_field :postal_code %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'City' %>
      <%= f.collection_select(:city_id, current_user.cities.all, :id, :name) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>