<p id="notice"><%= notice %></p>

<h2>City parts</h2>
<br>
<div class="row">
  <span class="col-sm-4 col-md-3">
    <h4>City part</h4>
  </span>
  <span class="col-sm-4 col-md-3">
    <h4>Postal code</h4>
  </span>
  <span class="col-sm-4 col-md-3">
    <h4>City</h4>
  </span>
</div>

<% @city_parts.each do |city_part| %>
  <div class="row">
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= city_part.name %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= city_part.postal_code %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= if city_part.city_id then city_part.city.name end %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', city_part, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_city_part_path(city_part), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', city_part, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New city part', new_city_part_path, method: 'get' %>
  </span>
</div>