<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>
<p>
  <strong>Link:</strong>
  <%= @task.link %>
</p>
<p>
  <strong>Note:</strong>
  <%= @task.note %>
</p>
<p>
  <strong>Project:</strong>
  <%= if @task.project_id then @task.project.name end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<br>
<br>
<%= link_to 'Back', tasks_path %>