<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @inbill.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @inbill.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @inbill.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @inbill.content %>
</p>

<%= link_to 'Edit', edit_inbill_path(@inbill) %> |
<br>
<br>
<%= link_to 'Back', inbills_path %>