<%= form_for(@outsequence) do |f| %>
  <% if @outsequence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outsequence.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @outsequence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Outsequence' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :'Note' %><br>
    <%= f.text_field :note %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
