<%= form_for(@income_report) do |f| %>
  <% if @income_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_report.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @income_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-12 col-md-3 col-md-offset-1">
      <%= f.label :'Number' %>
      <%= f.text_field :number %>
    </span>
    <span class="col-sm-12 col-md-3">
      <%= f.label :'Date' %>
      <%= f.date_select :date %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-12 col-md-3 col-md-offset-1">
      <%= f.label :'To pay' %>
      <%= f.text_field :to_pay %>
    </span>
    <span class="col-sm-12 col-md-3">
      <%= f.label :'To receive' %>
      <%= f.text_field :to_receive %>
    </span>
  </div>
  <br>
  <div class="row">    
    <span class="col-sm-12 col-md-4 col-md-offset-1">
      <%= f.label :'Note' %><br>
      <%= f.text_area :note, size: '40x3' %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>