<p id="notice"><%= notice %></p>

<h2>Income reports</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-1 col-md-offset-1">
    <h4>Number</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Date</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>To pay</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>To receive</h4>
  </span>
  <span class="col-sm-12 col-md-3">
    <h4>Note</h4>
  </span>
</div>

<% @income_reports.each do |income_report| %>
  <div class="row">
    <span class="col-sm-12 col-md-1 col-md-offset-1">
      <h5>
        <%= income_report.number %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= income_report.date %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= income_report.to_pay %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= income_report.to_receive %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-3">
      <h5>
        <%= income_report.note %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', income_report, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_income_report_path(income_report), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', income_report, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <%= button_to 'New income report', new_income_report_path, method: 'get' %>
  </span>
</div>