<p id="notice"><%= notice %></p>

<h2>Banks</h2>
<br>
<div class="row">
  <span class="col-sm-4 col-md-3">
    <h4>Bank</h4>
  </span>
  <span class="col-sm-4 col-md-3">
    <h4>Code</h4>
  </span>
  <span class="col-sm-4 col-md-3">
    <h4>SWIFT</h4>
  </span>
</div>

<% @banks.each do |bank| %>
  <div class="row">
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= bank.name %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= bank.code %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-3">
      <h5>
        <%= bank.swift %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', bank, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_bank_path(bank), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', bank, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New bank', new_bank_path, method: 'get' %>
  </span>
</div>