<p id="notice"><%= notice %></p>

<h2>Incomming invoice</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-1">
    <h4>Number</h4>
  </span>
  <span class="col-sm-12 col-md-2">
    <h4>Trade subject</h4>
  </span>
  <span class="col-sm-12 col-md-2">
    <h4>Due date</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Currency</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Base</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>VAT</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Paid</h4>
  </span>
</div>

<% @ininvoices.each do |ininvoice| %>
  <div class="row">
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if ininvoice.insequence_id then ininvoice.insequence.name end %>
        <%= ininvoice.number %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if ininvoice.trade_subject_id then ininvoice.trade_subject.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= ininvoice.due_date %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if ininvoice.currency_id then ininvoice.currency.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= ininvoice.total_corrected_base %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= ininvoice.total_corrected_vat %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= ininvoice.paid %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', ininvoice, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_ininvoice_path(ininvoice), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', ininvoice, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New incomming invoice', new_ininvoice_path, method: 'get' %>
  </span>
</div>