<h2>New incomming invoice</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2 col-md-offset-1">
    <%= button_to 'New incomming invoice sequence', new_insequence_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New trade subject', new_trade_subject_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New currency', new_currency_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'New exchange rate', new_exchange_rate_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Back', ininvoices_path, method: 'get' %>
  </span>
</div>