<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ininvoice.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ininvoice.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ininvoice.content %>
</p>

<%= link_to 'Edit', edit_ininvoice_path(@ininvoice) %> |
<%= link_to 'Back', ininvoices_path %>
