<p id="notice"><%= notice %></p>

<h1>Outgoing bills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outbill.each do |outbill| %>
      <tr>
        <td><%= outbill.name %></td>
        <td><%= outbill.title %></td>
        <td><%= outbill.content %></td>
        <td><%= link_to 'Show', outbill %></td>
        <td><%= link_to 'Edit', edit_outbill_path(outbill) %></td>
        <td><%= link_to 'Destroy', outbill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New outgoing bill', new_outbill_path %>
<br>
<br>
<%= link_to 'Home', '/' %>
