<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outbill.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @outbill.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @outbill.content %>
</p>

<%= link_to 'Edit', edit_outbill_path(@outbill) %> |
<br>
<br>
<%= link_to 'Back', outbills_path %>