<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<body>

<h1>Invoicing v1</h1>

<br>
<br>

<% if user_signed_in? %>

<form action=<%= outinvoices_path %>>

  Name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     
  <input type="text" name="name">
  <br>
  <br>
  Street:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp    
  <input type="text" name="street"> 
  &nbsp&nbsp&nbspHouse number:
  <input type="text" name="house_number">
  <br>
  <br>
  City:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="city">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCity part:
  <input type="text" name="city_part">
  <br>
  <br>
  Postal code:
  <input type="text" name="postal_code">
  <br>
  <br>
  Country:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <input type="text" name="country">
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspProvince:
  <input type="text" name="province">
  <br>
  <br>
  <br>
  <input type="submit" value="save data">

</form>

<br>
<br>

<div>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="outgoing invoices" <action=<%= outinvoices_path %>>

</div>

<br>
<br>

<form action=<%= ininvoices_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="incoming invoices">

</form>

<br>
<br>

<form action=<%= outbills_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="outgoing bills">

</form>

<br>
<br>

<form action=<%= inbills_path %>>

  Obdobi od:
  <input type="date" name="from">
  Obdobi do:
  <input type="date" name="till">

  <input type="submit" value="incoming bills">

</form>

<% else %>

  <br>
  <br>
  At first You have to log in!

<% end %>


</body>
</html>
