<p id="notice"><%= notice %></p>

<h2>Report types</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-6">
    <h4>Report type</h4>
  </span>
</div>

<% @report_types.each do |report_type| %>
  <div class="row">
    <span class="col-sm-12 col-md-6">
      <h5>
        <%= report_type.name %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', report_type, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_report_type_path(report_type), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', report_type, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New report type', new_report_type_path, method: 'get' %>
  </span>
</div>