<%= form_for(@day_entry) do |f| %>
  <% if @day_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_entry.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @day_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-4 col-md-4">
      <%= f.label :'Day entry date' %>
      <%= f.date_select :date %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Day entry from' %>
      <%= f.time_select :start %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Day entry till' %>
      <%= f.time_select :stop %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-4 col-md-4">
      <%= f.label :'Invoiced?' %>
      <%= f.check_box :invoiced %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Task' %>
      <%= f.collection_select(:task_id, current_user.tasks.all, :id, :name) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>