<h1>Editation of incomming invoice item</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New incomming invoice', new_ininvoice_path %>
<br>
<br>
<%= link_to 'New item', new_item_path %>
<br>
<br>
<%= link_to 'Show', @ininvoice_item %>
<br>
<br>
<%= link_to 'Back', ininvoice_items_path %>