<p id="notice"><%= notice %></p>

<h4>Incomming invoice items</h4>
<br>
<div class="row">
  <b>
    <span class="col-sm-6 col-md-3">
      Item
    </span>
    <span class="col-sm-3 col-md-1">
      Amount
    </span>  
    <span class="col-sm-3 col-md-1">
      Unit price
    </span>
    <span class="col-sm-3 col-md-1">
      Total price
    </span>
    <span class="col-sm-3 col-md-1">
      VAT %
    </span>
    <span class="col-sm-3 col-md-1">
      VAT
    </span>
    <span class="col-sm-3 col-md-1">
      Note
    </span>
  </b>
</div>

<% @ininvoice_items.each do |ininvoice_item| %>
  <div class="row">
    <span class="col-sm-6 col-md-3">
      <h6>
        <%= if ininvoice_item.item_id then ininvoice_item.item.name end %>
      </h6>
    </span>    
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= ininvoice_item.amount %>
      </h6>
    </span>
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= if ininvoice_item.item_id then ininvoice_item.item.unit_price end %>
      </h6>
    </span>
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= if ininvoice_item.item_id then ininvoice_item.item.unit_price*ininvoice_item.amount end %>
      </h6>
    </span>
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= if ininvoice_item.item_id then ininvoice_item.item.vat_charge.percentage end %>
      </h6>
    </span>
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= if ininvoice_item.item_id then ininvoice_item.item.unit_price*ininvoice_item.amount*ininvoice_item.item.vat_charge.percentage/100 end %>
      </h6>
    </span>
    <span class="col-sm-3 col-md-1">
      <h6>
        <%= ininvoice_item.ininvoice_id %>
      </h6>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', ininvoice_item, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_ininvoice_item_path(ininvoice_item.id), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', ininvoice_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New ininvoice item', new_ininvoice_item_path, method: 'get' %>
  </span>
</div>