<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @ininvoice_item.amount %>
</p>
<p>
  <strong>Note:</strong>
  <%= @ininvoice_item.note %>
</p>
<p>
  <strong>Incomming invoice:</strong>
  <%= if @ininvoice_item.ininvoice_id then @ininvoice_item.ininvoice.number end %>
</p>
<p>
  <strong>Item:</strong>
  <%= if @ininvoice_item.item_id then @ininvoice_item.item.name end %>
</p>

<%= link_to 'Edit', edit_ininvoice_item_path(@ininvoice_item) %> |
<br>
<br>
<%= link_to 'Back', ininvoice_items_path %>