<%= form_for([@outinvoice, @outinvoice_item]) do |f| %>
  <% if @outinvoice_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outinvoice_item.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @outinvoice_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-5 col-md-3">
      <%= f.label :'Item' %>
      <%= f.collection_select(:item_id, current_user.items.all, :id, :name) %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Amount' %>
      <%= f.text_field :amount %>
    </span>
    <span class="col-sm-3 col-md-3">
      <%= f.label :'Note' %><br>
      <%= f.text_area :note %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>