<h2>Editation of outgoing invoice item</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', [@outinvoice, @outinvoice_item], method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'New item', new_item_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'New incomming invoice', new_outinvoice_path, method: 'get' %>
  </span>
</div>