<p id="notice"><%= notice %></p>

<h2>Outgoing invoice items</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <h4>Amount</h4>
  </span>
  <span class="col-sm-12 col-md-2">
    <h4>Note</h4>
  </span>
  <span class="col-sm-12 col-md-2">
    <h4>Outgoing invoice</h4>
  </span>
  <span class="col-sm-12 col-md-2">
    <h4>Item</h4>
  </span>
</div>

<% @outinvoice_items.each do |outinvoice_item| %>
  <div class="row">
    <span class="col-sm-12 col-md-2 col-md-offset-1">
      <h5>
        <%= outinvoice_item.amount %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= outinvoice_item.note %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if outinvoice_item.outinvoice_id then outinvoice_item.outinvoice.number end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if outinvoice_item.item_id then outinvoice_item.item.name end %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', outinvoice_item, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_outinvoice_item_path(outinvoice_item, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', outinvoice_item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <%= button_to 'New outgoing invoice item', new_outinvoice_item_path, method: 'get' %>
  </span>
</div>