<h1>Editation of street</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New city', new_city_path %>
<br>
<br>
<%= link_to 'New city part', new_city_part_path %>
<br>
<br>
<%= link_to 'Show', @street %>
<br>
<br>
<%= link_to 'Back', streets_path %>