<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @street.name %>
</p>
<p>
  <strong>City:</strong>
  <%= if @street.city_id then @street.city.name end %>
</p>
<p>
  <strong>City part:</strong>
  <%= if @street.city_part_id then @street.city_part.name end %>
</p>

<%= link_to 'Edit', edit_street_path(@street) %> |
<br>
<br>
<%= link_to 'Back', streets_path %>