<%= form_for(@address_type) do |f| %>
  <% if @address_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_type.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @address_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Address type' %><br>
    <%= f.text_field :name %>
  </div>
   
  <br>
  <br>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
