<%= form_for(@address_type) do |f| %>
  <% if @address_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_type.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @address_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-12 col-md-4">
      <%= f.label :'Address type' %>
      <%= f.text_field :name %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>    
  </div>
<% end %>
