<p id="notice"><%= notice %></p>

<h2>Address types</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <h4>Address type</h4>
  </span>
</div>

<% @address_types.each do |address_type| %>
  <div class="row">
    <span class="col-sm-12 col-md-2 col-md-offset-1">
      <h5>
        <%= address_type.name %>
      </h5>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', address_type, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_address_type_path(address_type), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', address_type, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <%= button_to 'New address type', new_address_type_path, method: 'get' %>
  </span>
</div>  