<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <span class="col-sm-12 col-md-4">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, size: 28 %>
  </span>
  <span class="col-sm-12 col-md-3">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", size: 18 %>
  </span>

  <% if devise_mapping.rememberable? -%>
    <span class="col-sm-12 col-md-2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </span>

  <span class="actions">
    <h3><%= f.submit "Log in" %></h3>
  </span>

  <% end -%>
<% end %>
<br>
<span class="col-sm-12 col-md-4">
  <%= render "devise/shared/links" %>
</span>
