<%= form_for(@bank_account) do |f| %>
  <% if @bank_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank_account.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @bank_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Bank account' %>
      <%= f.text_field :name %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Number' %>
      <%= f.text_field :number %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'IBAN' %>
      <%= f.text_field :iban %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Bank' %>
      <%= f.collection_select(:bank_id, current_user.banks.all, :id, :name) %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Currency' %>
      <%= f.collection_select(:currency_id, current_user.currencies.all, :id, :name) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>