<h1>Editation of bank account</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New bank', new_bank_path %>
<br>
<br>
<%= link_to 'New currency', new_currency_path %>
<br>
<br>
<%= link_to 'Show', @bank_account %>
<br>
<br>
<%= link_to 'Back', bank_accounts_path %>