<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-4 col-md-2">
    <strong>Bank account:</strong>
    <%= @bank_account.name %>
  </span>
  <span class="col-sm-4 col-md-2">
    <strong>Number:</strong>
    <%= @bank_account.number %>
  </span>
  <span class="col-sm-4 col-md-2">
    <strong>IBAN:</strong>
    <%= @bank_account.iban %>
  </span>
  <span class="col-sm-4 col-md-2">
    <strong>Bank:</strong>
    <%= if @bank_account.bank_id then @bank_account.bank.name end %>
  </span>
  <span class="col-sm-4 col-md-2">
    <strong>Currency:</strong>
    <%= if @bank_account.currency_id then @bank_account.currency.name end %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Edit', edit_bank_account_path(@bank_account), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>