<p id="notice"><%= notice %></p>

<h2>Payments</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-1 col-md-offset-1">
    <h4>Date</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Amount</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Payment type</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Currency</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Bank account</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Trade subject</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>VAT report</h4>
  </span>
  <span class="col-sm-12 col-md-1">
    <h4>Income report</h4>
  </span>
</div>

<% @payments.each do |payment| %>
  <div class="row">
    <span class="col-sm-12 col-md-1 col-md-offset-1">
      <h5>
        <%= payment.date %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= payment.amount %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.payment_type_id then payment.payment_type.name end  %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.currency_id then payment.currency.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.bank_account_id then payment.bank_account.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.trade_subject_id then payment.trade_subject.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.vat_report_id then payment.vat_report.number end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-1">
      <h5>
        <%= if payment.income_report_id then payment.income_report.number end %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', payment, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_payment_path(payment), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <%= button_to 'New payment', new_payment_path, method: 'get' %>
  </span>
</div>