<h2>New payment</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">   
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Payment types', payment_types_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Currencies', currencies_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Bank accounts', bank_accounts_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Trade subjects', trade_subjects_path, method: 'get' %>
  </span>
</div>
<br>
<div class="row"> 
  <span class="col-sm-4 col-md-2">
    <%= button_to 'VAT reports', vat_reports_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Income reports', income_reports_path, method: 'get' %>
  </span>
  <span class="col-sm-4 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>