<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>
<p>
  <strong>Note:</strong>
  <%= @payment.note %>
</p>
<p>
  <strong>Payment type:</strong>
  <%= if @payment.payment_type_id then @payment.payment_type.name end %>
</p>
<p>
  <strong>Currency:</strong>
  <%= if @payment.currency_id then @payment.currency.name end %>
</p>
<p>
  <strong>Bank account:</strong>
  <%= if @payment.bank_account_id then @payment.bank_account.name end %>
</p>
<p>
  <strong>Trade subject:</strong>
  <%= if @payment.trade_subject_id then @payment.trade_subject.name end %>
</p>
<p>
  <strong>VAT report:</strong>
  <%= if @payment.vat_report_id then @payment.vat_report.number end %>
</p>
<p>
  <strong>Income report:</strong>
  <%= if @payment.income_report_id then @payment.income_report.number end %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<br>
<br>
<%= link_to 'Back', payments_path %>