<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Item' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :'Note' %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :'Unit price' %><br>
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :'Currency' %><br>
    <%= f.collection_select(:currency_id, current_user.currencies.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :'VAT charge' %><br>
    <%= f.collection_select(:vat_charge_id, current_user.vat_charges.all, :id, :percentage) %>
  </div>
  <div class="field">
    <%= f.label :'Trade subject' %><br>
    <%= f.collection_select(:trade_subject_id, current_user.trade_subjects.all, :id, :name) %>
  </div>
  <br>
  <br>          
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
