<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Item' %>
      <%= f.text_field :name %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Note' %>
      <%= f.text_field :note %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Unit price' %>
      <%= f.text_field :unit_price %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-4 col-md-3">    
      <%= f.label :'Trade subject' %><br>
      <%= f.collection_select(:trade_subject_id, current_user.trade_subjects.all, :id, :name) %>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'Currency' %>
      <%= f.collection_select(:currency_id, current_user.currencies.all, :id, :name) %>
    </span>
    <span class="col-sm-4 col-md-3">
      <%= f.label :'VAT charge' %>
      <%= f.collection_select(:vat_charge_id, current_user.vat_charges.all, :id, :percentage) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>