<h2>Editation of item</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', @item, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Currencies', currencies_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'VAT charges', vat_charges_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Trade subjects', trade_subjects_path, method: 'get' %>
</div>