<h1>Editation of item</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New currency', new_currency_path %>
<br>
<br>
<%= link_to 'New VAT charge', new_vat_charge_path %>
<br>
<br>
<%= link_to 'New trade subject', new_trade_subject_path %>
<br>
<br>
<%= link_to 'Show', @item %>
<br>
<br>
<%= link_to 'Back', items_path %>