<p id="notice"><%= notice %></p>

<h2>Items</h2>
<br>
<div class="row">
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <h4>Item</h4>
  </span>
</div>

<% @items.each do |item| %>
  <div class="row">
    <span class="col-sm-12 col-md-2 col-md-offset-1">
      <h5>
        <%= item.name %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= item.note %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= item.unit_price %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if item.currency_id then item.currency.name end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if item.vat_charge_id then item.vat_charge.percentage end %>
      </h5>
    </span>
    <span class="col-sm-12 col-md-2">
      <h5>
        <%= if item.trade_subject_id then item.trade_subject.name end %>
      </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', item, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_item_path(item), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2 col-md-offset-1">
    <%= button_to 'New item', new_item_path, method: 'get' %>
  </span>
</div>