<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-6 col-md-2">
    <strong>Item:</strong>
    <%= @item.name %>
  </span>
  <span class="col-sm-6 col-md-2">
    <strong>Note:</strong>
    <%= @item.note %>
  </span>
  <span class="col-sm-6 col-md-2">
    <strong>Unit price:</strong>
    <%= @item.unit_price %>
  </span>
  <span class="col-sm-6 col-md-2">
    <strong>Currency:</strong>
    <%= if @item.currency_id then @item.currency.name end %>
  </span>
  <span class="col-sm-6 col-md-2">
    <strong>VAT charge:</strong>
    <%= if @item.vat_charge_id then @item.vat_charge.percentage end %>
  </span>
  <span class="col-sm-6 col-md-2">
    <strong>Trade subject:</strong>
    <%= if @item.trade_subject_id then @item.trade_subject.name end %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Edit', edit_item_path(@item), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>