<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-6 col-md-3">
    <strong>Sequence:</strong>
    <%= @outgoing_invoice_sequence.name %>
  </span>
  <span class="col-sm-6 col-md-3">
    <strong>Note:</strong>
    <%= @outgoing_invoice_sequence.note %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Edit', edit_outgoing_invoice_sequence_path(@outgoing_invoice_sequence), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>