<p id="notice"><%= notice %></p>

<h2>Countries</h2>

<% @countries.each do |country| %>
  <div class="row">
    <span class="col-sm-12 col-md-4">
      <h5>
        <%= country.name %>
     </h5>
    </span>    
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', country, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_country_path(country), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New country', new_country_path, method: 'get' %>
  </span>
</div>