<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'City' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :'Postal code' %><br>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :'Country' %><br>
    <%= f.collection_select(:country_id, current_user.countries.all, :id, :name) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :'Province' %><br>
    <%= f.collection_select(:province_id, current_user.provinces.all, :id, :name, :include_blank => true) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
