<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-12 col-md-2 col-md-offset-1">
      <%= f.label :'City' %>
      <%= f.text_field :name %>
    </span>
    <span class="col-sm-12 col-md-3">
      <%= f.label :'Postal code' %>
      <%= f.text_field :postal_code %>
    </span>
    <span class="col-sm-12 col-md-2">
      <%= f.label :'Country' %>
      <%= f.collection_select(:country_id, current_user.countries.all, :id, :name) %>
    </span>
    <span class="col-sm-2 col-md-2">
      <%= f.label :'Province' %>
      <%= f.collection_select(:province_id, current_user.provinces.all, :id, :name, :include_blank => true) %>
     </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>