<h1>Editation of city</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New country', new_country_path %>
<br>
<br>
<%= link_to 'New province', new_province_path %>
<br>
<br>
<%= link_to 'Show', @city %>
<br>
<br>
<%= link_to 'Back', cities_path %>