<p id="notice"><%= notice %></p>

<h2>Cities</h2>
<br>
<div class="row">
  <span class="col-sm-6 col-md-3">
    <h4>City</h4>
  </span>
  <span class="col-sm-6 col-md-2">
    <h4>Postal code</h4>
  </span>
  <span class="col-sm-6 col-md-2">
    <h4>Country</h4>
  </span>
  <span class="col-sm-6 col-md-2">
    <h4>Province</h4>
  </span>
</div>

<% @cities.each do |city| %>
  <div class="row">
    <span class="col-sm-6 col-md-3">
      <h5>
        <%= city.name %>
      </h5>
    </span>
    <span class="col-sm-6 col-md-2">
      <h5>
        <%= city.postal_code %>
      </h5>
    </span>
    <span class="col-sm-6 col-md-2">
      <h5>
        <%= if city.country_id then city.country.name end %>
      </h5>
    </span>
    <span class="col-sm-6 col-md-2">
      <h5>
        <%= if city.province_id then city.province.name end%>
      </h5>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Show', city, method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Edit', edit_city_path(city), method: 'get' %>
    </span>
    <span class="col-sm-4 col-md-1">
      <%= button_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>
<br>
<div class="row">   
  <span class="col-sm-12 col-md-2">
    <%= button_to 'New city', new_city_path, method: 'get' %>
  </span>
</div>