<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>
<p>
  <strong>Postal code:</strong>
  <%= @city.postal_code %>
</p>
<p>
  <strong>Country:</strong>
  <%= if @city.country_id then @city.country.name end %>
</p>
<p>
  <strong>Province:</strong>
  <%= if @city.province_id then @city.province.name end %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> 
<br>
<br>
<%= link_to 'Back', cities_path %>