<%= form_for(@exchange_rate) do |f| %>
  <% if @exchange_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exchange_rate.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @exchange_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-6 col-md-4">
      <%= f.label :'Exchange rate' %>
      <%= f.text_field :rate, size: 8 %>
    </span>
    <span class="col-sm-6 col-md-4">
      <%= f.label :'Exchange rate date' %>
      <%= f.date_select :date %>
    </span>
    <span class="col-sm-4 col-md-4">
      <%= f.label :'Bank' %>
      <%= f.collection_select(:bank_id, current_user.banks.all, :id, :name) %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-4 col-md-4">
      <%= f.label :'Currency' %>
      <%= f.collection_select(:currency_id, current_user.currencies.all, :id, :name) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>