<h2>Editation of exchange rate</h2>
<br>
<%= render 'form' %>
<br>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Show', @exchange_rate, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', exchange_rates_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'New bank', new_bank_path, method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'New currency', new_currency_path, method: 'get' %>
  </span>
</div>