<p id="notice"><%= notice %></p>

<p>
  <strong>Exchange rate:</strong>
  <%= @exchange_rate.rate %>
</p>
<p>
  <strong>Exchange rate date:</strong>
  <%= @exchange_rate.date %>
</p>
<p>
  <strong>Bank:</strong>
  <%= if @exchange_rate.bank_id then @exchange_rate.bank.name end %>
</p>
<p>
  <strong>Currency:</strong>
  <%= if @exchange_rate.currency_id then @exchange_rate.currency.name end %>
</p>

<%= link_to 'Edit', edit_exchange_rate_path(@exchange_rate) %> |
<br>
<br>
<%= link_to 'Back', exchange_rates_path %>