<h1>Editation of outgoing invoice</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New outgoing invoice sequence', new_outsequence_path %>
<br>
<br>
<%= link_to 'New trade subject', new_trade_subject_path %>
<br>
<br>
<%= link_to 'New currency', new_currency_path %>
<br>
<br>
<%= link_to 'New exchange rate', new_exchange_rate_path %>
<br>
<br>
<%= link_to 'Show', @outinvoice %>
<br>
<br>
<%= link_to 'Back', outinvoices_path %>