<%= form_for(@province) do |f| %>
  <% if @province.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@province.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @province.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-6 col-md-4">
      <%= f.label :'Name' %>
      <%= f.text_field :name, size: 30 %>
    </span>
    <span class="col-sm-4 col-md-4">
      <%= f.label :'Country' %>
      <%= f.collection_select(:country_id, current_user.countries.all, :id, :name) %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>
