<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>
<p>
  <strong>Country:</strong>
  <%= if @province.country_id then @province.country.name end %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<br>
<br>
<%= link_to 'Back', provinces_path %>