<p id="notice"><%= notice %></p>

<div class="row">   
  <span class="col-sm-6 col-md-4">
    <strong>Name:</strong>
    <%= @province.name %>
  </span>
  <span class="col-sm-6 col-md-4">
    <strong>Country:</strong>
    <%= if @province.country_id then @province.country.name end %>
  </span>
</div>
<br>
<div class="row">
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Edit', edit_province_path(@province), method: 'get' %>
  </span>
  <span class="col-sm-6 col-md-2">
    <%= button_to 'Back', request.referrer, method: 'get' %>
  </span>
</div>