<%= form_for(@outinvoice_payment) do |f| %>
  <% if @outinvoice_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outinvoice_payment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @outinvoice_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Amount' %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :'Payment' %><br>
    <%= f.text_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :'Outgoing invoice' %><br>
    <%= f.text_field :outinvoice_id %>
  </div>
  <div class="field">
    <%= f.label :'Exchange rate' %><br>
    <%= f.text_field :exchange_rate_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
