<h1>Editation of outgoing invoice payment</h1>

<%= render 'form' %>

<br>
<br>
<%= link_to 'New outgoing invoice', new_outinvoice_path %>
<br>
<br>
<%= link_to 'New exchange rate', new_exchange_rate_path %>
<br>
<br>
<%= link_to 'Show', @outinvoice_payment %>
<br>
<br>
<%= link_to 'Back', outinvoice_payments_path %>