<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <span class="col-sm-6 col-md-3">
      <%= f.label :'Date' %>
      <%= f.date_select :date %>
    </span>
    <span class="col-sm-6 col-md-3">
      <%= f.label :'To pay' %>
      <%= f.text_field :to_pay %>
    </span>
  </div>
  <br>
  <div class="row">
    <span class="col-sm-6 col-md-3">
      <%= f.label :'Report type' %>
      <%= f.collection_select(:report_type_id, current_user.report_types.all, :id, :name) %>
    </span>
    <span class="col-sm-6 col-md-3">
      <%= f.label :'To receive' %>
      <%= f.text_field :to_receive %>
    </span>
    <span class="actions">
      <%= f.submit %>
    </span>
  </div>
<% end %>