<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>
<p>
  <strong>To pay:</strong>
  <%= @report.to_pay %>
</p>
<p>
  <strong>To receive:</strong>
  <%= @report.to_receive %>
</p>
<p>
  <strong>Report type:</strong>
  <%= if @report.report_type_id then @report.report_type.name end %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<br>
<br>
<%= link_to 'Back', reports_path %>