
<!DOCTYPE html>
<html>
<head>
  <title>Invoice v1</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'blueprint/screen', media: 'screen' %>

  <%= stylesheet_link_tag 'blueprint/print', media: 'print' %>

</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= link_to 'Home', '/' %>
&nbsp&nbsp&nbsp&nbsp
<%= link_to "Sign Up", new_user_registration_path %>
&nbsp&nbsp&nbsp&nbsp
<%= link_to "Sign In", new_user_session_path %>
&nbsp&nbsp&nbsp&nbsp
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
&nbsp&nbsp&nbsp&nbsp
<b>
<%= if current_user then 'currently logged user: ' + current_user.email
	                else 'no one logged in' end %>
</b>

<div id="main-container" class="container">
    <div class="row">
        <div class="col-xs-3">
          <h1>Invoicing v1</h1>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
    </div>
</div>

</body>
</html>